.title {
  text-align: center;
}
 .container{
   height: 200px;
   width: 500px;
   background-color:#c7dde7;
   margin-left: 500px;
   box-shadow: 10px 2px solid blue;
 }
.button {
  text-decoration: none;
  display: block;
  background-color: #385663;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 20px;
}
